{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "prettier"
  ],
  "rules": {
    "no-console": 2,
    "prefer-const": 2,
    "@typescript-eslint/no-explicit-any": 2
  }
}